/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  li {
    color: white;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
    font-size: 12px;
  }

  ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: -20px 0px 0px 0px;
    text-align: center;
    border-radius: 5px;
    background-color: #298a8a;
    width: 100%;
  }

  .joinus {
    font-size: 12px;
  }

  .header-logo a {
    color: rgba(198, 229, 235, 1);
    letter-spacing: 1px;
  }

  .btn {

    width: 30%;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  
.header-logo a {
    color: rgba(198, 229, 235, 1);
    letter-spacing: 1px;
  }

  /*Wrapper MAIN*/
  .wrapper-div p {
    display: flex;
    font-size: 10px;
    padding: 7px 5px 7px 5px;
    margin: 7px 0% 0px 0%;
  }
}
