/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial,
    Helvetica,
    sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 90%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background-color: rgba(34, 49, 52, 0.2);
  height: 65px;
  width: 100%;
  position: fixed;
}

.header-logo {
  margin-top: 20px;
  float: left;
}

.header-logo a {
  color: rgba(198, 229, 235, 1);
  letter-spacing: 3px;
}

.logo {
  width: 124px;
}

.header-right {
  float: right;
  margin-right: -5px;
}

.header-right a {
  line-height: 65px;
  padding: 0 10px;
  display: block;
  float: left;
  color: rgba(198, 229, 235, 1);
  letter-spacing: 1px;
}

.header-right a:hover {
  background-color: rgba(21, 155, 104, 0.5);
}


.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display: none;
}

.top-wrapper {
  padding: 80px 0 100px 0;
  background-image: url(background_main.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  height: 50%;
}

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 5px;
  /*space antar huruf*/
  margin-bottom: 10px;
  margin-top: 0px;
}

.top-wrapper p {
  opacity: 0.8;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 50px 0 10px 0;
}

.joinus {
  background-color: #239b76;
}

.btn {
  padding: 10px 10px;
  width: 25%;
  color: white;
  /*untuk mensejajarkan kesamping*/
  display: inline-block;
  /*untuk mencerahkan/meredupkan*/
  opacity: 0.8;
  border-radius: 4px;
  /*untuk menengahkan content*/
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.top-wrapper-2 {
  width: 60%;
  height: 100px;
  background-color: whitesmoke;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: -50px;
  box-shadow: 10px 10px grey;
  justify-content: center;
}

.main-wrapper {
  float: left;
  padding: 10px 10px;
  width: 190px;
}

.main-icon {
  position: absolute;
}

.main-text {
  padding: 0 5px;
  font-size: 10px;
  float: left;
  margin-left: 70px;
}

.icon {
  width: 70px;
  height: 70px;
}