/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial,
    Helvetica,
    sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.btn-container p {
  padding-top: 20px;
}

.btn-container h2 {
  padding-top: 80px;
}


header {
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-logo {
  margin-top: 20px;
  float: left;
}

.header-logo a {
  color: rgba(198, 229, 235, 1);
  letter-spacing: 3px;
}

.logo {
  width: 124px;
}

.header-right {
  float: right;
  margin-right: -5px;
}

.header-right a {
  line-height: 65px;
  padding: 0 10px;
  display: block;
  float: left;
  color: rgba(198, 229, 235, 1);
  letter-spacing: 0.5px;
}

.header-right a:hover {
  background-color: rgba(21, 155, 104, 0.5);
}


.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display: none;
}

.top-wrapper {
  padding: 80px 0 100px 0;
  background-image: url(background_main.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  height: 50%;
}

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 5px;
  /*space antar huruf*/
  margin-bottom: 10px;
  margin-top: 0px;
}

.top-wrapper p {
  opacity: 0.8;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 50px 0 10px 0;
}

.joinus {
  background-color: #298a8a;

}

.btn {
  padding: 10px 10px;
  width: 200px;
  color: white;
  /*untuk mensejajarkan kesamping*/
  display: inline-block;
  /*untuk mencerahkan/meredupkan*/
  opacity: 1;
  border-radius: 4px;
  /*untuk menengahkan content*/
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
}

/* tentukan property display milik .flex-list */
.top-wrapper2 {
  /*border: 3px solid rgb(166, 204, 28);*/
  width: 100%
}

.wrapper-div {
  /*border: 3px solid rgb(96, 28, 204);*/
  display: flex;
  justify-content: center;
  margin: -25px 10% 0px 10%;
  background-color: #298a8a;
}

.wrapper-div p {
  display: flex;
  font-size: 20px;
  padding: 10px 10px 10px 10px;

}



/*
.flex-list {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin: -25px 0px 0px 100px;
  border-radius: 2px;
  background-color: #298a8a;
  width: 80%;
  z-index: 1;
  position: absolute;

}

li {
  color: white;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  font-size: 20px;
  text-align: center;

}

.li1 {}

.li2 {}

.li3 {}

.li4 {}*/


/*CSS Main Wrapper*/

.main-wrapper {
  width: 100%;
  text-align: center;
}

.heading {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: -0px 0 5px 0;
}

.heading h3 {
  padding: 50px 0 0 0;
}

.heading p {
  padding: 5px 0 30px 0;
}

/*CSS gallery foto*/

.galery-foto {
  border: 2px solid rgb(29, 221, 179);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.setting-foto {
  width: 20%;
  height: 300px;
  border: 3px solid rgb(96, 28, 204);
  margin: 10px 0px 10px 30px;
  padding: 5px 0 5px 0;
}

.main-foto {
  padding-top: 15px;
  width: 150px;
  height: 150px;
}

.desc-photo p {
  padding-top: 20px;
}

/*CSS Network*/
.network {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid rgb(221, 29, 189);
  margin: 50px 10px 0px 10px;
  background-color: white;
}

.network-div {
  width: 20%;
  height: 20%;
  margin: 10px 0px 0px 0px;
}

.network-photo {
  padding: 20px 10px 5px 10px;
  margin: 20px 10px 5px 10px;
  border: 2px solid rgb(221, 29, 189);
}

.main-foto-network {
  width: 100px;
  height: 100px;
}

/*CSS Experiance*/
.experiance-div {
  height: 500px;
}

.heading-experiance {
  /*border: 2px solid rgb(96, 29, 221);*/
  margin: 30px 0px 0px 0px;
  background-color: rgb(236, 226, 226);
}


.heading-experiance h2 {
  padding: 30px 0px 0 0;

}

.heading-experiance p {
  padding: 0px 0px 30px 0px;
}

.experiance-gallery {
  /*border: 2px solid rgb(221, 90, 29);*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  background-color: rgb(236, 226, 226);

}

.experiance-person {
  width: 20%;
  height: 400;
  /*border: 2px solid rgb(221, 29, 29);*/
  padding: 20px 10px 5px 10px;
  margin: 30px 10px 0px 10px;
  background-color: rgb(177, 174, 174);
}

.experiance-person h3 {
  padding: 20px 10px 5px 10px;
}

.main-foto-experiance {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.location-gallery p {
  padding: 0px px 0px 0px;
  margin: 100px 0px 20px 0px;
}

/*wrapper input*/
.wrapper-experiance {
  width: 100%;
  /*border: 2px solid rgb(221, 29, 29);*/
}

.btn-experiance {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px 40px 0px;
}

.btn-input {
  width: 20%;
  height: 30px;
  line-height: 30px;
  background-color: rgb(240, 223, 240);
  margin: 0px 20px 0px 20px;
  border-radius: 5%;
}