/* dari yunia */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgb(201, 124, 72);
  position :fixed;
  top: 0;
  z-index: 10;
  font-family: Arial Narrow, sans-serif;
}

.logo {
  width: 100px;
  margin-top: 11px;
}

.header-left {
  float: left;
  margin-left: -2px;
}

.header-left a {
  color: white;
  float: right;
  padding: 20px 20px;
  font-family: Arial Narrow, sans-serif;
  
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 45px;
  padding: 0 10px 10px 0;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  margin: 5px 2px 10px 10px;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display:none;
  
}
/* Selesai */


/* dari yogapratama */
.container {
  /* Ubah max-width ke 1170px */
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("https://user-images.githubusercontent.com/64063549/80332735-df78ab80-8875-11ea-81dd-c0b53db7e202.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.letsee {
  background-color: rgb(201, 124, 72);
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 0px;
}
.top-wrapper2 {
  /*border: 3px solid rgb(166, 204, 28);*/
  width: 100%
}

.wrapper-div {
  /*border: 3px solid rgb(96, 28, 204);*/
  display: flex;
  justify-content: center;
  margin: -35px 10% 0px 10%;
  background-color: rgb(201, 124, 72);
}

.wrapper-div p {
  display: flex;
  font-size: 25px;
  padding: 5px 7px 5px 7px;
  color: rgb(252, 252, 252);
}
/* Selesai */


/* dari Wiwid Kurniandi */
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
.heading h2 {
  font-weight: normal;
}
.heading h3 {
  font-weight: normal;
  
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: rgb(201, 124, 72);
  cursor: pointer;
  box-shadow: 0 7px rgb(238, 100, 9);
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
/* Selesai */


/*Yosua*/
.heading-extra {
  padding-top: 10px;
  padding-bottom: 100px;
  color: rgb(232, 241, 238);
  font-size: 50px;
}

.lesson-wrapper {
  height: 100px;
  padding-bottom: 80px;
  background-color: rgb(201, 124, 72);
  text-align: center;
}

.container-extra {
  width: 100%p;
  padding: 0 80px;
  margin: 0 auto;
  height: 600px;
}

.isi-gambar {
  float: left;
  width: 20%;
}

.Pesan {
  width: 90%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: black;
}

.img-extra{	
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
/*extra*/

/*wandi*/
li {
  list-style: none;
}
.container-footer {
  width: 100%;
  background-color: rgb(201, 124, 72);
  height: 80px;
}

.footer-left li {
  float: left;
  color: white;
  padding: 0px 8px;
  line-height: 80px;    
}

.logo-footer {
  margin-top: 5px;
  margin-left: 85px;
  margin-right: 10px;
}

.label {
  font-size: 14px;
  padding: 20px 10px;
  line-height: 0px;
  color: azure;
  width: 100px;
  position: absolute;
}

.lowgo {
  float: left;
  margin-top: 0px;
  margin-right: 30px;
}

.fa {
  width: 15px;
  height: 15px;
  color: #e8f1f3;
}
